# Ignore actual env and secret files
.env
*.env

# Don't ignore example files
!*.env.example

kustomize

custom

.5stack-env.config

*.env.backup

overlays/vault-http
overlays/vault-https
overlays/local-secrets-http
overlays/local-secrets-https