# Each domain must be unique for routing purposes

# example: 5stack.gg
WEB_DOMAIN=

# example: ws.5stack.gg
WS_DOMAIN=

# example: api.5stack.gg
API_DOMAIN=

# example: demos.5stack.gg
DEMOS_DOMAIN=

# example: hello@example.com
MAIL_FROM=

# after installing tailscale get the ip 
TAILSCALE_NODE_IP=

# https://login.tailscale.com/admin/dns
TAILSCALE_NET_NAME=

# create tailscale oauth client
# https://login.tailscale.com/admin/settings/oauth
# give the `devices` scope
TAILSCALE_CLIENT_ID=

# Sets the ACL tag used to identify this node in Tailscale.
# This must match a tag declared in your ACL config:
# https://login.tailscale.com/admin/acls/file
# Example: tag:fivestack
TAILSCALE_ACL_TAG=

#S3_PORT=443
#S3_USE_SSL=true
#S3_ENDPOINT=s3.us-east-005.backblazeb2.com
